.midle-section-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
}

.midle-section-img {
  width: auto;
  height: auto;
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  max-height: 100%; /* Ensure the image doesn't exceed the container's height */
  object-fit: cover; /* Scale the image to cover the entire container, maintaining its aspect ratio */
}
