.row {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.square {
  width: 30%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.rectangle {
  width: 50%;
}

.square,
.rectangle {
  height: min-content;
  background-color: rgba(255, 255, 255, 0.35);
  margin: 5% 0;
  border-radius: 30px;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 10px;
}
li::before {
  content: "•";
  margin-right: 0.5em;
}
